
/* @tailwind directives are valid - ignore CSS warnings */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #CFCFCF;
}

