
/* @tailwind directives are valid - ignore CSS warnings */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset only - let Tailwind handle colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  background-color: #CFCFCF;
}

